.progress
  margin: 0.5em 0
  border: 1px dotted rgba(skyblue, 1)
  border-radius: 100px
  overflow: hidden
  min-height: 0.5em
  max-height: 0.5em
  position: relative
  .overlay
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: skyblue
    font-size: 0.8em
  span
    display: inline-block
  span + span
    margin-left: 1em